.check-box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  justify-self: auto;
  &__element {
    border-radius: 24px;
    border: solid 2px;
    text-align: center;
    padding: 4px;
    margin: 0.5rem;
    &--pointer {
      display: contents;
      cursor: pointer;
    }
  }
}
